{{ 'slideshow.css' | asset_url | stylesheet_tag }}

<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>

<div class="page-width page-width--narrow spaced-section">
  <div class="slide-wrapper">
    <div id="arrow-left" class="arrow"></div>
  
    <div id="slider">
      <div class="slide slide3">
        <div class="slide-content">
          <span class="imgtop">Image 1</span>
        </div>
      </div>
  
      <div class="slide slide1">
        <div class="slide-content">
          <span class="imgtop">Image 2</span>
        </div>
      </div>
  
      <div class="slide slide2">
        <div class="slide-content">
          <span class="imgtop">Image 3</span>
        </div>
      </div>
    </div>
    <div id="arrow-right" class="arrow"> </div>
  </div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Images"
    }
  ],
  "blocks": [
    {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
    }
  ]
}
{% endschema %}
