{{ 'slideshow.css' | asset_url | stylesheet_tag }}

<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>

<div class="page-width page-width--narrow spaced-section">
  <div class="slide-wrapper">
    <div id="arrow-left" class="arrow"> </div>
  
      <div class="slide slide1">
        <div class="slide-content">
          <span class="imgtop" style="background-image: url('{{ section.settings.image | img_url: '1500x' }}')">
            Image 1</span>
        </div>
      </div>
  
      <div class="slide slide2">
        <div class="slide-content">
          <span class="imgtop" style="background-image: url('{{ section.settings.image_2 | img_url: '1500x' }}')">
            Image 2</span>
        </div>
      </div>

    <div id="arrow-right" class="arrow"> </div>
  </div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Images"
    }
  ]
}
{% endschema %}
