/* Created by Velocity Stack Ltd */

/* top nav styling */

.header__menu-item, .list-menu__item {    
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.header__menu-item {
    padding: 1.2em;
}

.menu-drawer__navigation {
    padding: 3rem 0 !important;
}

/* index styling */

.multicolumn.background-secondary {
    background-color: #F0D6DC;
}

/* product grid styling */

@media screen and (min-width: 750px) {
    .grid__item {
        max-width: 33.3%;
    }
}
