.wrap,
#slider,
.slide-content {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: opacity 0.2s ease-in-out;
}
.slide-wrapper {
  position: relative;
}
.slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-content span {
  color: #fff;
  font-size: 5rem;
  width: 100%;
}
.arrow {
  cursor: pointer;
  height: 0;
  width: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #000 transparent #000;
  left: 0;
  margin-left: 30px;
  opacity: 0.5;
}
#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent #000 transparent #000;
  right: 0;
  margin-right: 30px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
#arrow-right:hover, #arrow-left:hover {
  opacity:0.95;
  transition: opacity 0.2s ease-in-out;
}
.imgtop{
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   height: 480px;
}
@media only screen and (max-width: 990px) {
  #arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #000 transparent #000;
    margin-left: 5vw;
  }
  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent #000 transparent #000;
    margin-right: 5vw;
  }
  .arrow {
    margin-top: -20px;
  }
  .imgtop {
    height: 60vw;
  }
}